@model HobbyLobby.Models.StoreRequestView
@{
    ViewBag.Title = "Details";
}

<a id="backbutton" class="btn btn-default" href="https://localhost:44362/Home/Index" role="button"><img src="~/Images/backbutton2.png" height="50" width="50"></a>


<h2 style="color:orangered">Store View</h2>
<div>
    <div class="jumbotron" style="background-color:navy">
        <img src="https://1000logos.net/wp-content/uploads/2020/09/Hobby-Lobby.png" class="mx-auto d-block" style="width:50%" />
        <br />
        <p class="lead" style="color: white">On this page, you will be able to see your store and requests.</p>
    </div>
</div>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreClass.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreClass.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreClass.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreClass.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreClass.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreClass.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreClass.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreClass.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreClass.StoreNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreClass.StoreNumber)
        </dd>
    </dl>
</div>

<div id="AbsDiv">
    <a class="btn btn-primary btn-sm" id="NewRequest" href="https://localhost:44362/Pickup/Create" role="button" style="margin-block:10px;">Create New request</a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestName.ToteQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestName.CartonQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestName.LoadLockQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestName.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestName.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpName.PickupCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpName.PickupNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestName.Store.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestName.StoreNumber)
        </th>
    </tr>
    <div>
        @if (Model.RequestClass.Count() == 0)
        {
            <div>
                <p style="color:red">
                    No requests have been made. To create a request press create new.
                </p>
            </div>
        }
        else
        {
            foreach (var item in Model.RequestClass)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToteQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartonQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadLockQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pickup.PickupCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pickup.PickupNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreNumber)
        </td>
        <td>
            @*@Html.ActionLink("Edit","RequestForm", "Edit", new { id = item.RequestNumber }) |
            @Html.ActionLink("Details", "Details", new { id = item.RequestNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RequestNumber })*@
            <a href="https://localhost:44362/RequestForm/Edit/@item.RequestNumber">Edit</a>
            <a href="https://localhost:44362/RequestForm/Details/@item.RequestNumber">Details</a>
            <a href="https://localhost:44362/RequestForm/Delete/@item.RequestNumber">Delete</a>
        </td>
    </tr>
            }
        }
            </div>
        </table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickUpName.ScheduledDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpName.PickupCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpName.Truck.TruckNumber)
        </th>
         <th>
                @Html.DisplayNameFor(model => model.PickUpName.PickupNumber)
            </th>
        <th></th>
    </tr>
    @if (Model.PickupClass.Count()==0)
    {
        <a >No Request Has been made yet</a>
    }
    else
    {
    foreach (var item in Model.PickupClass)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ScheduledDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PickupCapacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Truck.TruckNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PickupNumber)
    </td>
    <td>
        @*<a href="https://localhost:44362/Pickup/EditTSide/@item.PickupNumber">Edit</a>*@
        <a href="https://localhost:44362/Pickup/Details/@item.PickupNumber">Details</a>
        @*<a href="https://localhost:44362/Pickup/Delete/@item.PickupNumber">Delete</a>*@
    </td>
</tr>
    }

    }

</table>
