@model IEnumerable<HobbyLobby.Models.Truck>

@{
    ViewBag.Title = "Truck";
}

<a id="backbutton" class="btn btn-default" href="https://localhost:44362/Home/Index" role="button"><img src="~/Images/backbutton2.png" height="50" width="50"></a>

<h2>Truck</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Capacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TruckNumber)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TruckNumber }) |
        @Html.ActionLink("Details", "Details", new { id = item.TruckNumber }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TruckNumber })
    </td>
</tr>
    }

</table>
