@model HobbyLobby.Models.Request

@{
    ViewBag.Title = "Delete Entry";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToteQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToteQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartonQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartonQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadLockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadLockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pickup.PickupNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pickup.PickupNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Location)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>
<div id="AbsDiv">
    <a class="btn btn-primary btn-sm" onclick="history.back()" role="button" style="margin-block:10px;">Back to List</a>
</div>
