@model IEnumerable<HobbyLobby.Models.Request>

@{
    ViewBag.Title = "TransportationView";
}



<a id="backbutton" class="btn btn-default" href="https://localhost:44362/Home/Index" role="button"><img src="~/Images/backbutton2.png" height="50" width="50"></a>

<h2 style="color:orangered">Hobby Lobby Transportation</h2>
<div>
    <div class="jumbotron" style="background-color:navy">
        <img src="https://1000logos.net/wp-content/uploads/2020/09/Hobby-Lobby.png" class="mx-auto d-block" style="width:50%" />
        <br />
        <p class="lead" style="color: white">On this page, you will be able to see store entries, select clean-up dates, and see your truck/trailer number</p>
    </div>
</div>

        <h2>Store Entries</h2>
        <p>
            View submitted store entries below:
        </p>
        <table class="table">
            <tr>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.Store.Location)
                </th>
                <th style="color:orangered">
                    Total Feet Required
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pickup.PickupCapacity)
            </td>
            <td>
                <a class="btn btn-primary" href="https://localhost:44362/Pickup/Create" role="button" style="text-align:center;margin-right:10px;">Assign a Truck Number</a>
                <a class="btn btn-primary" href="https://localhost:44362/Pickup/Index" role="button" style="text-align:center;margin-right:10px;">View Clean-ups</a>
            </td>
        </tr>
            }

        </table>
