@model IEnumerable<HobbyLobby.Models.Request>

@{
    ViewBag.Title = "TransportationView";
}



<a id="backbutton" class="btn btn-default" href="https://localhost:44362/Home/Index" role="button"><img src="~/Images/backbutton2.png" height="50" width="50"></a>

<h2 style="color:orangered">Hobby Lobby Transportation</h2>
<div>
    <div class="jumbotron" style="background-color:navy">
        <img src="https://1000logos.net/wp-content/uploads/2020/09/Hobby-Lobby.png" class="mx-auto d-block" style="width:50%" />
        <br />
        <p class="lead" style="color: white">On this page, you will be able to see store entries, select clean-up dates, and see your truck/trailer number</p>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row" style="background-color: darkorange">
    <div class="col-md-4" style="color: antiquewhite">
        <h2>Store Entries</h2>
        <p>
            View submitted store entries below:
        </p>
        <table class="table">
            <tr>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.ToteQuantity)
                </th>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.CartonQuantity)
                </th>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.LoadLockQuantity)
                </th>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.Pickup.PickupNumber)
                </th>
                <th style="color:orangered">
                    @Html.DisplayNameFor(model => model.Store.Location)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToteQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartonQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoadLockQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pickup.PickupNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Store.Location)
                    </td>
                    <td>
                        <a class="btn btn-primary" href="https://localhost:44362/Trucks/Truck" role="button" style="text-align:center;margin-right:10px;">Assign a Truck Number</a>
                        @* @Html.ActionLink("Details", "Truck", new { id = item.PickupNumber }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PickupNumber })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
