@model HobbyLobby.Models.Pickup

@{
    ViewBag.Title = "Clean-up Details";
}

<h2>Clean-up Details</h2>

<div>
    <h4>Pickup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Truck.TruckNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Truck.TruckNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PickupNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
