@model IEnumerable<HobbyLobby.Models.Pickup>

@{
    ViewBag.Title = "Index";
}

<a id="backbutton" class="btn btn-default" onclick="history.back()" role="button"><img src="~/Images/backbutton2.png" height="50" width="50"></a>

<h2 style="color:orangered">Scheduled Clean-Ups</h2>
<div>
    <div class="jumbotron" style="background-color:navy">
        <img src="https://1000logos.net/wp-content/uploads/2020/09/Hobby-Lobby.png" class="mx-auto d-block" style="width:50%" />

    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truck.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Truck.TruckNumber)
        </th>
        @* <th>
                @Html.DisplayNameFor(model => model.Request.StoreNumber)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Truck.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Truck.TruckNumber)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Store.StoreNumber)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PickupNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.PickupNumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PickupNumber })
            </td>
        </tr>
    }

</table>
