@model IEnumerable<HobbyLobby.Models.Pickup>

@{
    ViewBag.Title = "Pickup Entries";
}

<h2>Pickup Entries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*Need to figure out how to pull the store location from a request*@
            @Html.DisplayNameFor(model => model.Store.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupCapacity)
        </td>
        <td>
            @*This needs to be fixed*@
            @Html.DisplayFor(modelItem => item.Store.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickupNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickupNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickupNumber })
        </td>
    </tr>
}

</table>
